*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.square-one{
    border: 1px solid red;
    width: 100px;
    height: 100px;
    transition-duration: 2s;
}

.square-one:hover{
    background-color: red;
}
